.set-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 1000px;
}

.set-product h2 {
    margin-top: 20px;
}

.set-product > * {
    width: 80%;
    text-align: center;
}

.set-product input {
    padding: 5px 20px;
    border-radius: 10px;
}

.set-product textarea {
    padding: 5px 20px;
    border-radius: 10px;
}

.set-product button {
    background: #0af;
    color: #fff;
    padding: 5px 20px;
    width: 80px;
    border: none;
}