.layout {
  background: #0af;
}

.layout header {

  background: linear-gradient(15deg, #0af, #000);
  /* background: #000; */
  border-bottom: 5px solid #0af;
}

.project-name {
    color: #0af;
    padding: 5px;
    width: 100%;
    font-size: 3rem;
    text-align: center;
  }
  
  .project-name div {
    font-family: serif;
  }
  
  .nav-layout {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
  }
  
  .nav-layout a:link,
  .nav-layout a:active,
  .nav-layout a:visited {
    margin: 10px 2px;
    color: white;
    text-decoration: none;
    background: #000;
    padding: 10px 20px;
    border: 2px solid #0cf;
    border-radius: 10px;
  }

  .nav-layout a:hover {
    background: #0af;

  }
  
  .logout {
      background: red;
      color: red;
  }

  .help-chat-pop-up {
    background: yellow;
    position: fixed;
    top: 70%;
    right: 0;
    padding: 20px;
    border-radius: 20px;
    display: none;
  }

  .help-chat-pop-up button {
    padding: 5px 10px;
    background: #fff;
    border: none;
    margin: 5px;
    color: #333;
  }

  footer {
    display: flex;
    flex-direction: column;
    background: #0bf;
    height: 500px;
    margin-top: 300px;
  }

  footer a:hover,
  footer a:active,
  footer a:link,
  footer a:visited {
    color: #fff;
    text-decoration: none;
    padding: 20px;
  }

  .shopping-cart-logo {
    width: 25px;
  }
