.layout header {

  background: linear-gradient(15deg, #0af, #000);
  background: #000;
}

.project-name {
    color: #0af;
    padding: 5px;
    width: 100%;
    font-size: 3rem;
    text-align: center;
  }
  
  .project-name div {
    font-family: serif;
    /* text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333; */
    /* transform: scaleX(1.5); */
    /* translate: 120px 0; */
  }
  
  .nav-layout {
    display: flex;
    /* background: #000; */
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .nav-layout li { 
    display: flex;
    justify-content: center;
  }
  
  .nav-layout a:hover,
  .nav-layout a:link,
  .nav-layout a:active,
  .nav-layout a:visited {
    margin: 5px 1px;
    color: white;
    text-decoration: none;
    background: #0af;
    padding: 10px 20px;
    border: 2px solid #0cf;
    border-radius: 10px;
  }

  .logout {
      background: red;
      color: red;
  }

  .help-chat-pop-up {
    background: yellow;
    position: fixed;
    top: 70%;
    right: 0;
    padding: 20px;
    border-radius: 20px;
    display: none;
  }

  .help-chat-pop-up button {
    padding: 5px 10px;
    background: #fff;
    border: none;
    margin: 5px;
    color: #333;
  }

  footer {
    display: flex;
    flex-direction: column;
    background: #0af;
    height: 500px;
    margin-top: 300px;
  }

  footer a:hover,
  footer a:active,
  footer a:link,
  footer a:visited {
    color: #fff;
    text-decoration: none;
    padding: 20px;
  }

  .shopping-cart-logo {
    width: 25px;
  }
