.home {
    height: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home h1 {
    padding: 20px;
}

/* .home-pics {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    transform: matrix(1, -0.3, 0, 1, 0, 0);
    z-index: -100;
    position: relative;
    margin: 100px 0;
}

.home-pics img {
    height: 200px;
    width: 200px;
    object-fit: cover;
} */