.team-project {
    max-width: 800px;
    margin: auto;
    padding: 30px;
}

ul {
    list-style-type: none;
    padding: 30px;
}

.team-member {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.team-member-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
    transition: all 0.3s ease;
}

@keyframes wobble {
    0% {
        transform: scale(1.25) rotate(0deg);
    }
    25% {
        transform: scale(1.25) rotate(-5deg);
    }
    50% {
        transform: scale(1.25) rotate(0deg);
    }
    75% {
        transform: scale(1.25) rotate(5deg);
    }
    100% {
        transform: scale(1.25) rotate(0deg);
    }
}

.team-member-image:hover {
    animation: wobble 1s ease infinite;
    cursor: pointer;
}

.team-member div {
    font-size: 18px;
}
