.single-product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-product button {
    margin: 10px;
}

.single-product img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.single-product > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 50px 10px;
}

.single-product-comment {
    display: flex;
    flex-direction: column;
    border: 1px solid #999;
    padding: 10px;
    border-radius: 10px;
}

.single-product-comment span {
    padding: 5px;
}

.single-product-comment span:first-child {
    text-decoration: underline;
}